.cart
   &__btn
      width: 100%;
      background-color: #6b6b6b;;
   &__caption
      margin-top: 20px;
   &__clean
      text-decoration: underline!important;
      font-family: FrancoisOne;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 30px;
   &__input
      height:40px;
.total
   font-size: 15px;
   margin-bottom: 15px;
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   border-right: 1px solid #000;
   border-bottom: 1px solid #000;
   border-left: 1px solid #000;
   background-image: url('../img/footer_services_bg.jpg');
   &__table
      border-bottom: 1px solid #000;
      border-top: 1px solid #000;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
   &__grand
      border-bottom: 1px solid #000;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: brandonBold;
      font-size: 15px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
   &__btn
      width: 100%;
      margin-top: 20px;
      font-size: 21px;
.cupon
   &__title
      font-size: 15px;
      font-family: francoisOne;
      padding-bottom: 20px;
   &__form
      margin-top: 30px;
      border-bottom: 1px solid #000;
      margin-bottom: 15px;
      padding-bottom: 15px;

