.product-detail
   background-color: #f5f6f8;
   &__wrapper
      display: flex;
      padding-top: 25px;
      .btn_transperent
         @media (max-width: 544px)
            margin-top: 10px;
      @media (max-width: $md)
         display: block;
   &__text
      font-size: 14px;
      line-height: 17px
   &__table
      font-size: 14px
      margin-bottom: 10px;
      overflow: hidden
      @media (max-width: 544px)
         margin-top: 10px;
      td
         padding: 0 10px 10px 0
   .table__cell
      color: #8691A8;
      vertical-align: middle
   &__table-label
      // font-family: brandonBold
      font-size: 14px;
      width: 28%;
      min-width: 100px;
      color: #000!important;
   &__subtitle
      font-size: 20px;
      color: #000000
      margin-bottom: 20px;
   &__btn-mobile-wrapper
      .btn
         max-width: 440px;
         margin: auto;
         display: block;
         white-space: normal;
   &__btn-small-text
      font-size: 14px
      text-transform: none
   &__checkbox
      text-decoration: underline;
      font-size: 11px
   &__img
      margin: auto
      max-width: 469px;
      width: 100%;
      @media(max-width: $md)
         margin-bottom: 20px;
         margin-top: 20px;
         padding-right: 0;
   &__img_additional
      max-width: 440px;
   &__price_old
      text-decoration: line-through;
      margin-right: 20px;
      font-family: cochinRegular
   &__price-wrapper
      .price-box
         font-size: 26px
         margin-top: 30px
         margin-bottom: 30px
         text-decoration: none
         text-align: left
   &__number
      display: inline-block
      position: relative
      padding-left: 21px
      font-size: 14px;
      line-height: 3em;
      &:before
         content: "|";
         position: absolute;
         bottom: 2px;
         left: 10px;
   &__amount
      border: 1px solid #c4c4c4;
      max-width: 50px;
   &__banner
      margin-top: 15px
   &__more
      display: flex
      border-top: 1px solid $separator-color
      text-align: left;
      padding: 15px 0;
      position: relative;
      @media(max-width: $xs)
         &:nth-child(1)
            border-top: 1px solid $separator-color
   &__more-text
      color: #8691a8; 
      font-size: 14px;
      padding-right: 30px;
      font-weight: normal;
      @media(max-width: $md)
         padding-top: 10px;
         padding-bottom: 10px;
   &__link
      text-transform: uppercase
      color: inherit
      display: block
      min-width: 100px;
      @media(max-width: $md)
         padding: 10px 0;
         display: block;
      &:after
         content: url("../img/product__close.png");
         right: 0;
         position: absolute;
   &__more_active
      .product-detail__link,
      .compare-item__link
         &:after
           content: url("../img/product__open.png");
      @media(max-width: $xs)
         border-bottom: 1px solid $separator-color
         font-weight: bold
   &__description
      font-size: 16px;
      color: $subtitle__color
      margin-bottom: 20px;
   &__input
      border-radius: 2px;
      border: 1px solid $separator-color;
      width: 60px;
      padding: 0 5px;
   &__remember
      color: rgba(85,90,105,1);
      font-family: brandonBold
      font-weight: normal;
   &__reference
      color: rgba(85,90,105,.5)
      margin-bottom: 20px;
   &__size
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      flex-wrap: wrap;
      select
         max-width: none;
         width: 100%;
         flex: 1 0 auto;
      .validation-advice
         margin-top:10px;
         color: #a90b00;
         width: 100%;
   &__size-label
      margin-right: 10px;
      font-weight: normal
      font-family: brandonBold
      color: #555a69;
      white-space: nowrap;
   &__size-error
      margin-bottom: 15px;
   &__select
      &:after
         top: 10px;
.tissu
   display: none
   .table__row
      display: block;
      padding: 5px 0;
.compare-description
   display: none;
   padding-bottom: 20px;
.options
   display: none
   &__wrapper
      display: flex;
      flex-wrap: wrap;
   &__mod
      position: relative;
      font-size: 11px;
      line-height: 12px;
      color: #6980c7;
   &__text
      font-size: 14px;
      line-height: 1em
      white-space: initial;
   &__item
      display: flex
      align-items: center
      margin-bottom: 10px;
   &__img
      max-width: 50px;
      margin: auto
.les
   &__list
      display: flex;
      border-top: 1px solid #ccc;
      padding-top: 20px;
      justify-content: space-between;
      @media(max-width: $sm)
         flex-direction: column
   &__item
      flex: 0 1 25%;
      max-width: 90px;
   &__link
      display: block
      padding: 40px 0 8px 0px;
      font-size: 14px;
      position: relative
      line-height: 1.3em;
      &:before
         position: absolute;
         top: 0;
         left: 0;
         width: 60px;
         height: 40px;
         content: '';
         background: url('../img/icons_footer_services.png');
         background-size: 60px;
      @media(max-width: 380px)
         padding-left: 0;
         text-align: center
   &__link_alteration
      &:before
         background-position: 0 0;
   &__link_delivery
      &:before
         background-position: 0 -43px;
   &__link_response
      &:before
         background-position: 0 -86px;
   &__link_order
      &:before
         background-position: 0 -129px;
   &__link_manufacturing
      &:before
         background-position: 0 -172px;
.product-slider
   &__list
      display: flex;
      max-width: 360px;
      margin: auto;
      position: relative;
      justify-content: center;
      @media(max-width: $md)
         padding-top: 0px;
   &__gallery
      position: relative;
      margin-top: 60px;
      margin-bottom: 20px;
      margin: auto  ;
      max-width: 360px;
      @media(max-width: $md)
         margin-top: 20px;
      @media(max-width: $sm)
         margin-top: 10px;
   &__img
      max-width: 68px;
      cursor: pointer;
   &__item
      flex: 0 1 70px;
      margin: 10px;
      border: 1px solid transparent;
      @media(max-width: $sm)
         margin: 10px 0;
      &_active
         border: 1px solid #000000;
   &__maim-img
      position: relative;
      margin: auto;
      max-width: 469px;
      margin-top: 40px;
      height: 633px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(min-width: $lg) and (max-width: 1170px)
         padding-right: 50px;
         padding-left: 50px;
      @media(min-width: $md) and (max-width: $lg)
         max-width: 250px;
         height: 340px;
      @media(max-width: $sm)
         padding-right: 50px;
         padding-left: 50px;
      @media(max-width: 460px)
         height: 520px;
      @media(max-width: 360px)
         height: 385px;
      @media(max-width: 360px)
         height: 303px;
   &__maim-img > a.fancybox-img
      width: 100%
   &__maim-img_additional
      max-width: 440px!important;
      height: auto!important;
      @media(min-width: $md) and (max-width: $lg)
         max-width: 250px!important;
      @media(max-width: $md)
         margin-top: 20px;
   &__main-arrow
      position: absolute;
      top: 50%; 
      color: #adaeaf;
      margin-top: -22px;
      &:hover, &:focus
         text-decoration: none!important;
      &:before
         font-size: 40px;
         content: '';
         color: #b4b5b6;
         width: 45px;
         height: 45px;
         border-radius: 45px;
         border: 2px solid #b4b5b6;
         display: block;
         background-color: rgba(255, 255, 255, 0.2);
      &:after
         font-size: 17px;
         color: #B4B5B6;
         top: 50%;
         margin-top: -10px;
   &__main-arrow_left
      left: -50px;
      @media(min-width: $lg) and (max-width: 1170px)
         left:  0;
      @media(max-width: $sm)
         left:  0;
      &:after
         content: "\f104";
         font-family: fontAwesome;
         position: absolute;
         left: 50%;
         margin-left: -4px;
   &__main-arrow_right
      right: -50px;
      @media(min-width: $lg) and (max-width: 1170px)
         right: 0;
      @media(max-width: $sm)
         right: 0;
      &:after
         content: "\f105";
         font-family: fontAwesome;
         position: absolute;
         left: 50%;
         margin-left: -2px;
   &__arrow
      position: absolute;
      top: 50%;
      margin-top: -15px;
      color: #adaeaf;
      &:before
         line-height: 1em;
         font-family: fontAwesome;
         font-size: 25px;
      &:hover, &:focus
         text-decoration: none!important;
   &__arrow_left
      left: -3%;
      @media(max-width: $sm)
         left: 0
      &:before
         content: "\f104"; 
   &__arrow_right
      right: -3%;
      @media(max-width: $sm)
         right: 0
      &:before
         content: "\f105";
/* magenta style
_______________________________________________*/

.old-price
   text-decoration: line-through;
   margin-right: 15px;
.so_ribbon
   position: absolute;
   top: 0;
   left: 0;
   width: 153px;
   height: 89px;
   background: url("../img/so_ribbon_end.png") no-repeat;


