@font-face
   font-family: brandonRegular
   src: url("../font/BrandonText-Regular.woff")
@font-face
   font-family: brandonMedium
   src: url("../font/BrandonText-Medium.otf")
@font-face
   font-family: brandonBlack
   src: url("../font/BrandonText-Black.woff")
@font-face
   font-family: brandonBold
   src: url("../font/BrandonText-Bold.woff")
@font-face
   font-family: CochinItalic
   src: url("../font/Cochin-Italic.woff")
@font-face
   font-family: CochinBold
   src: url("../font/Cochin-Bold.woff")
@font-face
   font-family: cochinBoldItalic
   src: url("../font/Cochin-Bold-Italic.woff")
@font-face
   font-family: cochinRegular
   src: url("../font/Cochin-Regular.woff")
@font-face
   font-family: francoisOne
   src: url("../font/FrancoisOne.woff")
