.login__wrapper {
   display:-webkit-box;
   display:flex;
   flex-direction:row;

   padding-top:30px;

   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
}
@media (max-width: $md) {
   .login__wrapper {
      display:block;
   }
}
.login__btn-wrapper {
   padding-top:15px;
}
.login__login {
   display:-webkit-box;
   display:flex;
   flex-direction:column;

   height:100%;

   border-right:1px solid #bfbfbf;

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -webkit-box-pack:justify;
   justify-content:space-between;
}
@media (max-width: $md) {
   .login__login {
      padding-bottom:10px;

      border-right:none;
   }
}
.login__registration {
   display:-webkit-box;
   display:flex;
   flex-direction:column;

   height:100%;

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -webkit-box-pack:justify;
   justify-content:space-between;
}
.login__title {
   font-family:brandonBold;
   font-size:17px;

   padding-bottom:15px;

   text-transform:uppercase;
}
.login__link {
   font-size:12px;

   text-decoration:underline;
}
.login__link:hover {
   text-decoration:none;
}
.login__text {
   font-size:14px;
}
.registration__block {
   padding-top:35px;
   padding-right:25px;
   padding-bottom:35px;
   padding-left:25px;

   background-image:url('../img/registration_bg.jpg');
   background-size:cover;
}
.registration__title {
   font-family:brandonBold, sans-serif;
   font-size:16px;
   font-weight:bold;

   padding-bottom:20px;
}
.registration__description {
   font-size:16px;

   padding-bottom:20px;
}
.registration__block-wrapper {
   padding:0 $gap;
}
.registration__btn {
   display:block;

   max-width:287px;
   margin:auto;
}
@media (max-width: $md) {
   .registration__btn {
      max-width:100%;
   }
}
.registration__caption {
   padding-bottom:30px;

   background-color:#f4f3f1;
}
.password {
   font-size:15px;
}
.password__block {
   min-height:468px;
   margin-bottom:30px;
   padding:20px;

   background-image:url('../img/password_bg.jpg');
}
.password__email {
   margin-top:30px;
}
.password__btn {
   padding-right:30px;
   padding-left:30px;
}