.accessory {
   padding:20px;

   background-color:#fff;
}
.accessory__title {
   font-size:13px;

   margin-bottom:15px;
}
.accessory__price {
   font-size:13px;

   margin-bottom:20px;
}
.accessory__img {
   width:100%;
   margin-bottom:15px;
}
.accessory__btn {
   font-size:13px;

   display:block;

   padding:7px 13px;

   text-align:center;
   text-decoration:none !important;

   color:#555a69;
   border:1px solid #ccc !important;
}
@media (max-width: $md) {
   .accessory__btn {
      margin-bottom:15px;
   }
}