.orders__item {
   font-size:14px;

   display:-webkit-box;
   display:flex;

   margin-bottom:13px;

   border:1px solid transparent;
   background-color:#fff;

   flex-wrap:wrap;
}
.orders__item:nth-last-child(1) {
   margin-bottom:30px;
}
@media (max-width: $sm) {
   .orders__item {
      border:1px solid rgba(0,0,0,.15);
   }
}
.orders__item_active {
   border:1px solid rgba(0,0,0,.15);
   box-shadow:0 0 15px 3px rgba(0,0,0,.09);
}
.orders__item_active .cart-big__bottom {
   display:block;
}
.orders__head {
   font-size:14px;

   position:relative;

   display:-webkit-box;
   display:flex;

   padding:15px 0;

   border-top:1px solid rgba(0,0,0,.15);

   -webkit-box-pack:justify;
   justify-content:space-between;
}
.orders__head:before {
   font-family:fontAwesome;
   font-size:27px;

   position:absolute;
   top:50%;

   display:-webkit-box;
   display:flex;

   width:30px;
   height:30px;
   margin-top:-15px;

   content:'\f107';

   border-radius:30px;

   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
}
.orders__head_done:before {
   background-color:#89d885;
}
.orders__head_done .orders__status {
   color:#69c365;
}
.orders__head_wait:before {
   background-color:#f6b76d;
}
.orders__head_wait .orders__status {
   color:#ee9d3e;
}
.orders__head-left {
   padding-left:45px;

   -webkit-box-flex:0;
   flex:0 1 70%;
}
.orders__head-right {
   text-align:right;

   -webkit-box-flex:0;
   flex:0 1 30%;
}
.orders__name {
   font-size:14px;

   display:inline-block;

   color:#000;
}
.orders__client {
   color:rgba(0,0,0,.75);
}
.orders__date {
   display:inline-block;

   color:rgba(0,0,0,.75);
}
.orders__see {
   color:#000;
}
.orders__img {
   padding:10px 18px 10px 10px;

   -webkit-box-flex:0;
   flex:0 0 115px;
}
@media (max-width: $sm) {
   .orders__img {
      border-bottom:1px solid rgba(0,0,0,.15);
   }
}
.orders__more-text {
   display:-webkit-box;
   display:flex;

   margin-left:auto;
   padding-right:40px;

   cursor:pointer;

   border-left:1px solid rgba(0,0,0,.15);

   -webkit-box-flex:0;
   flex:0 0 170px;
   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
   -webkit-box-pack:end;
   justify-content:flex-end;
}
@media (max-width: $sm) {
   .orders__more-text {
      -webkit-box-flex:0;
      flex:0 1 50%;
   }
}
.orders__more-text:hover .orders__more-link {
   text-decoration:underline;

   color:#000;
}
.orders__more-link {
   position:relative;

   color:#bdbdbd;
}
.orders__more-link:after {
   font-family:fontAwesome;
   font-size:22px;

   position:absolute;
   top:50%;

   margin-top:-9px;
   margin-left:5px;

   content:'\f107';
}
.orders__recommend {
   padding-top:25px;

   text-align:center;

   border-left:1px solid rgba(0,0,0,.15);

   -webkit-box-flex:0;
   flex:0 0 190px;
}
@media (max-width: $sm) {
   .orders__recommend {
      padding-top:15px;
      padding-bottom:15px;

      border-left:none;

      -webkit-box-flex:0;
      flex:0 1 50%;
   }
}
.orders__recommend-text {
   display:inline-block;

   width:110px;
   margin:auto;

   text-align:left;

   color:#69c365;
}
.orders__recommend-text:hover {
   text-decoration:none !important;

   color:#2a7e27;
}
.orders__main-description {
   padding-top:25px;

   -webkit-box-flex:0;
   flex:0 1 calc(100% - 475px);
}
@media (max-width: $sm) {
   .orders__main-description {
      border-bottom:1px solid rgba(0,0,0,.15);

      -webkit-box-flex:0;
      flex:0 1 calc(100% - 115px);
   }
}
.orders__price {
   margin-top:3px;

   color:rgba(0,0,0,.75);
}
.orders__order {
   position:relative;

   display:none;

   border-top:none !important;
}
.orders__order:before {
   position:absolute;
   top:0;
   left:0;

   width:calc(100% - 170px);
   height:1px;

   content:'';

   background-color:rgba(0,0,0,.15);
}
@media (max-width: $sm) {
   .orders__order:before {
      width:100%;
   }
}
.order__item {
   position:relative;

   margin-bottom:20px;

   border:1px solid rgba(0,0,0,.15);
   box-shadow:0 0 15px 3px rgba(0,0,0,.09);
}
.order__item_part {
   display:-webkit-box;
   display:flex;

   background-color:#fff;

   -webkit-box-pack:justify;
   justify-content:space-between;
}
@media (max-width: $sm) {
   .order__item_part {
      flex-direction:column;

      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
   }
}
.order__part-description {
   padding-top:25px;

   -webkit-box-flex:1;
   flex:1 0 auto;
}
@media (max-width: $sm) {
   .order__part-description {
      padding:15px 10px;
   }
}
.order__part-price {
   font-size:16px;

   display:-webkit-box;
   display:flex;

   padding:0 30px;

   -webkit-box-align:center;
   align-items:center;
}
@media (max-width: $sm) {
   .order__part-price {
      padding:0 10px 15px 10px;
   }
}
.order__part-title {
   font-size:18px;
}
.order__body {
   display:-webkit-box;
   display:flex;

   background-color:#fff;
}
@media (max-width: $sm) {
   .order__body {
      font-size:14px;

      flex-wrap:wrap;
   }
}
.order__address {
   height:230px;
   margin-top:10px;
   margin-bottom:20px;
   padding:30px;

   background-color:#fff;
   box-shadow:0 0 15px 3px rgba(0,0,0,.09);
}
.order__address-title {
   max-width:90px;
   margin-bottom:20px;
}
.order__address_last {
   display:-webkit-box;
   display:flex;
   flex-direction:column;

   padding:30px 15px 15px 15px;

   -webkit-box-pack:justify;
   justify-content:space-between;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
}
.order__address-bill {
   display:-webkit-box;
   display:flex;

   padding:4px 4px 4px 15px;

   background-color:#f5f6f8;

   -webkit-box-align:center;
   align-items:center;
}
.order__address-img {
   margin-left:10px;
}
.order__address-block {
   padding-left:25px;
}
.order__card {
   font-size:15px;

   position:relative;

   padding-left:20px;

   color:#555a69;
}
.order__card:before {
   font-family:fontAwesome;
   font-size:18px;

   position:absolute;
   left:0;

   content:'\f00c';

   color:#69c365;
}
.order__card-img {
   padding-left:20px;
}
.order__address-phone {
   margin-top:13px;

   color:#93959a;
}
.order__head {
   font-size:16px;

   position:relative;

   display:-webkit-box;
   display:flex;

   padding:20px 0 20px 45px;

   -webkit-box-pack:justify;
   justify-content:space-between;
}
.order__head:before {
   font-family:fontAwesome;
   font-size:27px;

   position:absolute;
   top:50%;
   left:0;

   display:-webkit-box;
   display:flex;

   width:30px;
   height:30px;
   margin-top:-15px;

   content:'\f107';

   border-radius:30px;

   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
}
.order__head_done:before {
   background-color:#89d885;
}
.order__head_wait:before {
   background-color:#f6b76d;
}
.order__head-right {
   text-align:right;
}
.order__name {
   margin-right:8px;

   color:#343a48;
}
.order__date {
   font-size:14px;

   color:rgba(0,0,0,.75);
}
.order__status {
   margin-right:4px;

   color:#69c365;
}
.order__status-hint {
   padding:1px 8px;

   white-space:nowrap;

   color:#000;
   border-radius:3px;
   background-color:#89d885;
}
.order__price {
   font-size:18px;

   display:-webkit-box;
   display:flex;

   -webkit-box-flex:0;
   flex:0 1 115px;
   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
}
@media (max-width: $sm) {
   .order__price {
      font-size:14px;

      -webkit-box-flex:1;
      flex:1 1 20%;
   }
}
.order__quantaty {
   font-size:18px;

   display:-webkit-box;
   display:flex;

   border-right:1px solid rgba(0,0,0,.15);

   -webkit-box-flex:0;
   flex:0 1 115px;
   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
}
@media (max-width: $sm) {
   .order__quantaty {
      font-size:14px;

      -webkit-box-flex:1;
      flex:1 1 20%;
   }
}
.order__recommend {
   display:-webkit-box;
   display:flex;

   padding:10px;

   color:#69c365;
   border-right:1px solid rgba(0,0,0,.15);
   border-left:1px solid rgba(0,0,0,.15);

   -webkit-box-flex:0;
   flex:0 1 180px;
   -webkit-box-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   align-items:center;
}
@media (max-width: $sm) {
   .order__recommend {
      -webkit-box-flex:0;
      flex:0 1 40%;
   }
}
.order__recommend-text {
   width:125px;
}
.order__main-description {
   font-size:18px;

   padding:15px 15px 15px 30px;

   -webkit-box-flex:0;
   flex:0 0 calc(100% - 410px);
}
@media (max-width: $sm) {
   .order__main-description {
      border-bottom:1px solid rgba(0,0,0,.15);

      -webkit-box-flex:0;
      flex:0 0 100%;
   }
}
.order__main-detailed {
   font-size:14px;

   margin-top:8px;

   color:rgba(0,0,0,.75);
}
.order__old-price {
   margin-right:15px;

   text-decoration:line-through;
}
.order__total-price {
   color:#f47129;
}
.order__total {
   margin-bottom:70px;
   padding:30px 30px 10px 30px;

   background-color:#fff;
   box-shadow:0 0 4px 2px rgba(0,0,0,.09);
}
.order__total td {
   padding-bottom:10px;

   color:#848383;
}
.order__total-final {
   padding-top:20px;

   text-transform:uppercase;

   color:#000 !important;
}
.order__table {
   width:100%;

   text-align:right;
}
.order-more {
   font-size:14px;

   width:100%;
   padding:25px 20px 0 20px;

   border-top:1px solid rgba(0,0,0,.15);
   background-color:#fff;
}
.order-more_small {
   padding-bottom:20px;
}
.order-more_cart {
   position:relative;

   display:-webkit-box;
   display:flex;
   flex-direction:column;

   border-top:none;
   box-shadow:none;

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
}
@media (max-width: $lg) {
   .order-more_cart {
      display:block;
   }
}
.order-more__big-img {
   width:100%;
}
@media (max-width: $lg) {
   .order-more__description {
      margin-top:10px;
   }
}
.order-more__title {
   font-size:18px;

   margin-right:100px;
   margin-bottom:20px;
}
@media (max-width: $md) {
   .order-more__title {
      padding-top:60px;
   }
}
.order-more__body {
   position:relative;

   display:-webkit-box;
   display:flex;

   width:100%;
   margin-bottom:25px;
}
@media (max-width: $md) {
   .order-more__body {
      display:block;
   }
}
.order-more__block {
   -webkit-box-flex:1;
   flex:1;
}
.order-detail {
   display:-webkit-box;
   display:flex;

   padding-bottom:20px;

   border-top:1px solid rgba(0,0,0,.15);
}
@media (max-width: $lg) {
   .order-detail {
      flex-direction:column;

      width:100%;

      border-top:none;

      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
   }
}
.order-detail__item {
   display:-webkit-box;
   display:flex;
   flex-direction:column;

   height:110px;
   padding:15px 8px 0 8px;

   text-align:center;

   color:#555a69;
   border-right:1px solid rgba(0,0,0,.15);

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -webkit-box-flex:0;
   flex:0 1 10%;
}
.order-detail__item:nth-last-child(1) {
   border-right:none;
}
@media (max-width: $lg) {
   .order-detail__item {
      display:block;

      height:auto;
      padding:10px 0;

      text-align:left;

      border-top:1px solid rgba(0,0,0,.15);
      border-right:none;

      -webkit-box-flex:0;
      flex:0 1 auto;
   }
}
.order-detail__data {
   -webkit-box-flex:0;
   flex:0 0 50%;
}
.order-list__parametrs {
   color:rgba(0,0,0,.9);
}
.order-list__item {
   margin-bottom:8px;

   color:rgba(85,90,105,.9);
}
.order-list__item:nth-last-child(1) {
   margin-right:110px;
}
@media (max-width: $md) {
   .order-list__item:nth-last-child(1) {
      margin-right:0;
   }
}
.order-info {
   font-size:14px;

   display:-webkit-box;
   display:flex;

   width:100%;
   padding:15px 0;

   -webkit-box-pack:justify;
   justify-content:space-between;
}
.order-info__block {
   display:-webkit-box;
   display:flex;
}
@media (max-width: $lg) {
   .order-info__block {
      flex-direction:column;

      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
   }
}
.order-info__icon {
   margin-right:8px;
}
.order-info__title {
   margin-right:8px;

   color:rgba(0,0,0,.9);
}
.order-info__subtitle {
   margin-right:8px;

   color:#555a69;
}
.order-info__date {
   color:rgba(85,90,105,.75);
}
.order-info__link {
   text-decoration:underline;
}
.order-actions {
   font-size:15px;

   display:-webkit-box;
   display:flex;

   width:100%;
   padding:20px 0;

   border-top:1px solid rgba(0,0,0,.15);

   -webkit-box-pack:justify;
   justify-content:space-between;
}
@media (max-width: $md) {
   .order-actions {
      flex-direction:column;

      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
   }
}
.order-actions__client {
   display:-webkit-box;
   display:flex;
}
.order-actions__tags {
   display:-webkit-box;
   display:flex;

   flex-wrap:wrap;
}
@media (max-width: $md) {
   .order-actions__tags {
      margin-top:15px;
   }
}
.order-actions__tag {
   font-size:15px;

   margin-right:35px;

   cursor:pointer;
   text-decoration:underline;
}
.order-actions__tag:nth-last-child(1) {
   margin-right:0;
}
@media (max-width: $md) {
   .order-actions__tag {
      margin-right:10px;
   }
}
.order-actions__client-text {
   margin-right:10px;
}
.order-actions__link {
   position:relative;

   padding-right:20px;

   text-decoration:underline;
}
.order-actions__link:after {
   font-family:fontAwesome;
   font-size:20px;

   position:absolute;
   top:2px;
   right:0;

   content:'\f107';
}